@keyframes fadeInVACard {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visual-assistant-computer-card{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    max-height: 86vh;
    margin: 20px;
    border: 2px solid white;
    animation: fadeInVACard 1s ease-in-out forwards;
}

.VALogo-img{
    width: 75%;
    height: 75%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    align-self: center;
    margin-top: 10%;
}

.visual-assistant-text{
    font-size: 24px;
    font-weight: 600;
    margin-top: -60px;
    margin-bottom: 80px;
    color: #fff;
    align-self: center;
}