
@media (orientation: landscape) {
  .landing-page {
    position: absolute;
    top: 0;
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #7d9ad1;
    
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .landing-header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    background: linear-gradient(0deg, rgba(125, 154, 209, 1) 0%, rgba(0, 0, 0, 0.85) 100%), url('../assets/LandingBackground.webp') center center / cover no-repeat;
    
    width: 100vw;
    min-height: 100vh;
  }
  .landing-background-image {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .landing-text-content {
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .landing-header-text {
    justify-self: center;
    margin-top: 20vh;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }

  .landing-subheader-text {
    justify-self: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
  }

  .landing-text {
    justify-self: center;
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }

  .get-started-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

  .landing-get-started{
    user-select: none;
    display: inline-block;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
  }

  .landing-get-started:hover{
    background-color: #fff;
    color: #2B061E;
    cursor: pointer;
  }
  .infographic-container {
    display: flex;
    flex-direction: row;
    margin-top: 14vh;
    margin-left: 8vw;
    width: fit-content;
    height: fit-content;
  }

  .image-container {
    grid-area: image;
    margin-block: 20px;
    object-fit: cover;
  }

  .infographic-text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-start: 15%;
    padding-block-end: 15%;
    width: 65%;
    margin-left: 50px;
  }

  .infographic-text{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Courier New', monospace;
  }

  .landing-image {
    height: 80vh;
    width: fit-content;
    object-fit: contain;
    justify-self: end;
  }
}


@media (orientation: portrait) {

  .landing-page {
    position: absolute;
    top: 0;
    max-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #7d9ad1;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  .landing-header-content {
    display: grid;
    grid-template-rows: auto auto; /* Two rows instead of two columns */
    grid-template-areas:
      "text"
      "image";
      background: hsla(213, 88%, 31%, 1);
      background: linear-gradient(90deg, #7d9ad1 0%, hsla(0, 0%, 0%, 1) 100%);
      background: -moz-linear-gradient(90deg, #7d9ad1 0%, hsla(0, 0%, 0%, 1) 100%);
      background: -webkit-linear-gradient(90deg, #7d9ad1 0%, hsla(0, 0%, 0%, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d9ad1", endColorstr="#000000", GradientType=1);
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 0%;
  }

  .landing-text-content {
    margin-left: 4vw;
    grid-area: text;
    width: calc(100vw - 20%);
    height: fit-content;
    flex-direction: column;
  }
  
  .landing-header-text {
    justify-self: center;
    margin-top: 2vh;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }

  .landing-text {
    justify-self: center;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .get-started-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .landing-get-started{
    user-select: none;
    display: inline-block;
    margin-top: 2vh;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .landing-get-started:hover{
    background-color: #fff;
    color: #2B061E;
    cursor: pointer;
}

  .image-container {
    grid-area: image;
    display: grid;
    width: 100vw;  
    align-self: start;
    object-fit: cover;
  }
  
  .landing-image {
    width: 80%; /* or a specific width if needed */
    margin-left: 16%;
    margin-block: 4vh;
    height: auto; /* maintain aspect ratio */
    object-fit: contain; /* or 'cover' */
  }
}
