
@media (orientation: landscape) {
  .landing-page {
    position: absolute;
    top: 0;
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0B3C49;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .landing-header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    background: hsla(321, 75%, 24%, 1);

    background: linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#690F49", endColorstr="#000000", GradientType=1 );
    width: 100vw;
    min-height: 100vh;
  }

  .landing-text-content {
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  .landing-header-text {
    justify-self: center;
    margin-top: 20vh;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }

  .landing-text {
    justify-self: center;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .get-started-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .landing-get-started{
    user-select: none;
    display: inline-block;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
  }

  .landing-get-started:hover{
    background-color: #fff;
    color: #2B061E;
    cursor: pointer;
  }

  .image-container {
    grid-area: image;
    margin-bottom: 20px;
    object-fit: cover;
  }

  .landing-image {
    height: 80vh;
    margin-top: 15vh;
    margin-left: 6vw;
    width: auto;
    object-fit: contain;
    justify-self: end;
  }
}


@media (orientation: portrait) {

  .landing-page {
    position: absolute;
    top: 0;
    max-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0B3C49;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  .landing-header-content {
    display: grid;
    grid-template-rows: auto auto; /* Two rows instead of two columns */
    grid-template-areas:
      "text"
      "image";
    background: hsla(321, 75%, 24%, 1);
    background: linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(321, 75%, 24%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#690F49", endColorstr="#000000", GradientType=1 );
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 0%;
  }

  .landing-text-content {
    margin-left: 1vw;
    grid-area: text;
    width: calc(100vw - 20%);
    height: fit-content;
    flex-direction: column;
  }
  
  .landing-header-text {
    justify-self: center;
    margin-top: 2vh;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
  }

  .landing-text {
    justify-self: center;
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .get-started-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .landing-get-started{
    user-select: none;
    display: inline-block;
    margin-top: 2vh;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
  }

  .landing-get-started:hover{
    background-color: #fff;
    color: #2B061E;
    cursor: pointer;
}

  .image-container {
    grid-area: image;
    display: grid;
    width: 100vw;  
    align-self: start;
    object-fit: cover;
  }
  
  .landing-image {
    width: 80%; /* or a specific width if needed */
    margin-left: 18%;
    margin-block: 4vh;
    height: auto; /* maintain aspect ratio */
    object-fit: contain; /* or 'cover' */
  }
}
