.recipe-dashboard-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 0vh;
    background-color: #7d9ad1;
    min-height: 100vh;
    width: 100vw;
}

.recipe-dashboard{
    align-self: center;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: #b1c3e6;
    width: 96vw;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    min-height: 90vh;
}

.recipe-dashboard-info{
    width: 100%;
}

@media (orientation: portrait) {
    .recipe-dashboard{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 0vw;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}