.visual-assistant-container {
    margin-top: 8vh;
    display: flex;
    background-color: #7d9ad1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 92vh;
    width: 100vw;
}

.visual-assistant-info-container {
    align-self: center;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    background-color: #b1c3e6;
    width: 96vw;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    height: 89vh;
    align-items: center;
    overflow: hidden;
}

.visual-assistant-camera-row {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}

.visual-assistant-ingredient-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.style-line {
    background-color: white;
    height: 1px;
    width: 6%;
    border-radius: 50%;
}

.visual-assistant-image-preview {
    width: 40px;
    height: 40px;
    object-fit: cover;
}