.camera-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-button{
    background-color: #fff;
    color: #000;
    justify-self: center;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease;
    animation: pulse 2s infinite;
    user-select: none;
    padding: 0;
    border-radius: 25px;
}

.camera-button:hover{
    opacity: 0.8;
}

.Camera-img{
    display: flex;  
    width: 90%;   
    margin-left: 5%;   
    user-select: none;      
}